env*
env/*
env
kafka*
mongodb*
notes.txt
generate_data/device_data
generate_data/device_data/*
generate_data/device_data/
generate_data/__pycache__
generate_data/__pycache__/
generate_data/__pycache__/*
view_data/__pycache__
view_data/__pycache__/
view_data/__pycache__/*
